@model PiDataWebApp.Models.UniversityInfoViewModel


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
                <div class="panel-heading panel-heading-divider" style="font-size: 22px"><b>Yeni Üniversite Tanıtım Bilgisi</b></div>

            
                <div class="panel-body">



                    @if (Model != null)
                    {
                    <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Üniversite Adı :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control parsley-error" data-parsley-id="29" id="name" name="Name" value="@Model.Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi" for="sel1">Rektör :</label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(m => m.RectorId, (SelectList)ViewBag.Rector, "- Select Rector -", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Rektör Mesajı :</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" id="rectorMessage" name="RectorMessage" >@Model.RectorMessage</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Tarihçe :</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" id="history" name="History" >@Model.History</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Misyon :</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" id="mission" name="Mission" >@Model.Mission</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Vizyon :</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" id="vission" name="Vission" >@Model.Vission</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Adres :</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" id="address" name="Address" >@Model.Address</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Telefon :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control parsley-error" data-parsley-id="29" id="phone" name="Phone" value="@Model.Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Fax No :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control parsley-error" data-parsley-id="29" id="faxNo" name="FaxNo" value="@Model.FaxNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Email :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control parsley-error" data-parsley-id="29" id="email" name="Email" value="@Model.Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2 col-sm-10 ">
                                <input class="btn btn-space btn-warning kaydet" style="font-size: 16px; height:40px" id="btnUpdate" value="Güncelle" onclick="Update('@Model.Id')" />
                                <input class="btn btn-space btn-default kaydet" style="height: 40px; font-size: 14px;" id="btnCancel" onclick="window.location.href ='@Url.Action("ListUniversityInfo","UniversityInfo", new{ Area = "Admin"})'" value="İptal" />
                                <input type="hidden" id="@Model.Id" />
                            </div>
                        </div>
                    </form>

                    }
                    else
                    {
                        <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                            <br>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Üniversite Adı :</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control parsley-error" data-parsley-id="29" id="name" name="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi" for="sel1">Rektör :</label>
                                <div class="col-sm-6">
                                   
                        @Html.DropDownListFor(m => m.RectorId, (SelectList)ViewBag.Rector, "- Select Rector -", new { @class = "form-control" })

                                    

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Rektör Mesajı :</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="rectorMessage" name="RectorMessage"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Tarihçe :</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="history" name="History"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Misyon :</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="mission" name="Mission"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Vizyon :</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="vission" name="Vission"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Adres :</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="address" name="Address"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Telefon :</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control parsley-error" data-parsley-id="29" id="phone" name="Phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Fax No :</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control parsley-error" data-parsley-id="29" id="faxNo" name="FaxNo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Email :</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control parsley-error" data-parsley-id="29" id="email" name="Email">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2 col-sm-10 ">
                                    <input class="btn btn-space btn-success kaydet" style="font-size: 16px; height:40px" id="btnSave" value="Kaydet" />
                                    <input class="btn btn-space btn-default kaydet" style="height: 40px; font-size: 14px;" id="btnCancel" onclick="window.location.href ='@Url.Action("Index","HomeAdmin",new{ Area = "Admin"})'" value="İptal" />
                                </div>
                            </div>
                        </form>
                    }


                </div>
        </div>
    </div>
</div>





<script>
var token = sessionStorage.getItem("accessToken");
var headers = {};
headers.Authorization = "Bearer " + token;

$(document).ready(function() {
  if (token == null) {
        toastr.info( "Please try again after signin up !", { timeOut: 3000 });
        window.location.href = "/Admin/UserManagement/Login";
  }
});

    $("#btnSave").click(function() {
  $.ajax({
    url: "/api/UniversityInfo",
    method: "POST",
    headers: headers,
    data: {
      Name: $("#name").val(),
      History: $("#history").val(),
      Mission: $("#mission").val(),
      Vission: $("#vission").val(),
      Address: $("#address").val(),
      Phone: $("#phone").val(),
      FaxNo: $("#faxNo").val(),
      Email: $("#email").val(),
      RectorId: $("#RectorId").val(),
      RectorMessage: $("#rectorMessage").val()
    },

    success: function() {
    alert("UniversityInfo added successfully!");
      window.location.href = "/Admin/UniversityInfo/ListUniversityInfo";
    },
    error: function(jqXHR) {
      alert("Error !");
    }
  });
});

var Update = function(universityInfoId) {
  $.ajax({
    url: "/api/UniversityInfo",
    method: "PUT",
    headers: headers,
    data: {
      Id: universityInfoId,
      Name: $("#name").val(),
      History: $("#history").val(),
      Mission: $("#mission").val(),
      Vission: $("#vission").val(),
      Address: $("#address").val(),
      Phone: $("#phone").val(),
      FaxNo: $("#faxNo").val(),
      Email: $("#email").val(),
      RectorId: $("#RectorId").val(),
      RectorMessage: $("#rectorMessage").val()
    },
    success: function() {
      alert("UniversityInfo updated successfully!");
      window.location.href = "/Admin/UniversityInfo/ListUniversityInfo";
    },
    error: function(jqXHR) {
      alert("Error !");
    }
  });
};

</script>

