@model PiDataWebApp.Models.DepartmentInfoViewModel



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading panel-heading-divider" style="font-size: 22px"><b>Yeni Bölüm Tanıtım Bilgisi</b></div>


            <div class="panel-body">

                @*



                    @if (Model != null)
                    {
                        <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                            <br>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Product Code :</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Product Code..." class="form-control parsley-error" data-parsley-id="29" id="productCode" name="Code" value="@Model.Code">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Product Name :</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Enter the Product Name..." class="form-control parsley-error" data-parsley-id="29" id="productName" name="Name" value="@Model.Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi" for="sel1">Category :</label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(m => m.CategoryId, (SelectList)ViewBag.Category, "- Select Category -", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi" for="sel1">Supplier :</label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(m => m.SupplierId, (SelectList)ViewBag.Supplier, "- Select Supplier -", new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Quantity :</label>
                                <div class="col-sm-6">
                                    <input type="number" min="1" data-parsley-max="6" placeholder="Enter the quantity..." class="form-control parsley-error" data-parsley-id="39" name="Quantity" id="quantity" value="@Model.Quantity">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Cost Price :</label>
                                <div class="col-sm-6">
                                    <input type="text" data-parsley-max="6" placeholder="Enter the cost price..." class="form-control parsley-error" data-parsley-id="39" name="PurchasingPrice" id="productPurchase" value="@Model.PurchasingPrice">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label yazi">Selling Price :</label>
                                <div class="col-sm-6">
                                    <input type="text" data-parsley-max="6" placeholder="Enter the sales price..." class="form-control parsley-error" data-parsley-id="39" name="SellingPrice" id="productSelling" value="@Model.SellingPrice">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2 col-sm-10 ">
                                    <input class="btn btn-space btn-warning kaydet" style="font-size: 16px; height:40px" id="btnUpdate" value="Update" onclick="Update(@Model.Id)" />
                                    <input class="btn btn-space btn-default kaydet" style="height: 40px; font-size: 14px;" id="btnCancel" onclick="window.location.href ='@Url.Action("ListProduct","Product")'" value="Cancel" />
                                    <input type="hidden" id="@Model.Id" />
                                </div>
                            </div>
                        </form>
                    }
                *@
                <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Bölüm Adı :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control parsley-error" data-parsley-id="29" id="name" name="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi" for="sel1">Fakülte :</label>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(m => m.FacultyId, (SelectList)ViewBag.Faculty, "- Fakülte Seçiniz -", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi" for="sel1">Bölüm Başkanı :</label>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(m => m.HeadOfDepartmentId, (SelectList)ViewBag.HeadOfDepart, "- Bölüm Başkanı Seçiniz -", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Bölüm Başkan Mesajı :</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="headDepartmenMessage" name="HeadDepartmenMessage"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Tarihçe :</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="history" name="History"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Misyon :</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="mission" name="Mission"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Vizyon :</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="vission" name="Vission"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Adres :</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="address" name="Address"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Telefon :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control parsley-error" data-parsley-id="29" id="phone" name="Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Fax No :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control parsley-error" data-parsley-id="29" id="faxNo" name="FaxNo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label yazi">Email :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control parsley-error" data-parsley-id="29" id="email" name="Email">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-2 col-sm-10 ">
                            <input class="btn btn-space btn-success kaydet" style="font-size: 16px; height:40px" id="btnSave" value="Kaydet" />
                            <input class="btn btn-space btn-default kaydet" style="height: 40px; font-size: 14px;" id="btnCancel" onclick="window.location.href ='@Url.Action("ListDepartmentInfo","DepartmentInfo", new { Area = "Admin"})'" value="İptal" />
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>




    <script>

       var token = sessionStorage.getItem("accessToken");
    var headers = {};
    headers.Authorization = "Bearer " + token;

    $(document).ready(function() {
      if (token == null) {
            window.location.href = "/Admin/UserManagement/Login";
      }
    });

        $("#btnSave").click(function() {
      $.ajax({
        url: "/api/DepartmentInfo",
        method: "POST",
        headers: headers,
        data: {
              Name: $("#name").val(),
              History: $("#history").val(),
              Mission: $("#mission").val(),
              Vission: $("#vission").val(),
              Address: $("#address").val(),
              Phone: $("#phone").val(),
              FaxNo: $("#faxNo").val(),
              Email: $("#email").val(),
              HeadOfDepartmentId: $("#HeadOfDepartmentId").val(),
              FacultyId: $("#FacultyId").val(),
              HeadDepartmentMessage: $("#headDepartmenMessage").val()
        },

        success: function() {
        alert("Department added successfuly!");
        window.location.href = "/Admin/DepartmentInfo/ListDepartmentInfo";
        },
        error: function(jqXHR) {
          alert("Error !");
        }
      });
    });

    var Update = function(productId) {
      $.ajax({
        url: "/api/Products",
        method: "PUT",
        headers: headers,
        data: {
          Id: productId,
          Name: $("#productName").val(),
          Code: $("#productCode").val(),
          SellingPrice: $("#productSelling").val(),
          PurchasingPrice: $("#productPurchase").val(),
          Quantity: $("#quantity").val(),
          CategoryId: $("#CategoryId").val(),
          SupplierId: $("#SupplierId").val()
        },
        success: function() {
        toastr.success( "Product updated successfully !", { timeOut: 2000 });
          window.location.href = "/Deparment/EditDepartment";
        },
        error: function(jqXHR) {
          alert("Error !");
        }
      });
    };

    </script>
