@*@model NTierApp.WebApp.Models.ProductViewModel
*@


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading panel-heading-divider" style="font-size: 22px"><b>Yeni Öğrenci Ekranı</b></div>


            <div class="panel-body">
                
                @if (Model != null)
                {
                    <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Product Code :</label>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Product Code..." class="form-control parsley-error" data-parsley-id="29" id="productCode" name="Code" value="@Model.Code">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Product Name :</label>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Enter the Product Name..." class="form-control parsley-error" data-parsley-id="29" id="productName" name="Name" value="@Model.Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi" for="sel1">Category :</label>
                            <div class="col-sm-6">
                                @*
        @Html.DropDownListFor(m => m.CategoryId, (SelectList)ViewBag.Category, "- Select Category -", new { @class = "form-control" })

                                *@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi" for="sel1">Supplier :</label>
                            <div class="col-sm-6">
                                @*
        @Html.DropDownListFor(m => m.SupplierId, (SelectList)ViewBag.Supplier, "- Select Supplier -", new { @class = "form-control" })


                                *@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Quantity :</label>
                            <div class="col-sm-6">
                                <input type="number" min="1" data-parsley-max="6" placeholder="Enter the quantity..." class="form-control parsley-error" data-parsley-id="39" name="Quantity" id="quantity" value="@Model.Quantity">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Cost Price :</label>
                            <div class="col-sm-6">
                                <input type="text" data-parsley-max="6" placeholder="Enter the cost price..." class="form-control parsley-error" data-parsley-id="39" name="PurchasingPrice" id="productPurchase" value="@Model.PurchasingPrice">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Selling Price :</label>
                            <div class="col-sm-6">
                                <input type="text" data-parsley-max="6" placeholder="Enter the sales price..." class="form-control parsley-error" data-parsley-id="39" name="SellingPrice" id="productSelling" value="@Model.SellingPrice">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2 col-sm-10 ">
                                <input class="btn btn-space btn-warning kaydet" style="font-size: 16px; height:40px" id="btnUpdate" value="Update" onclick="Update(@Model.Id)" />
                                <input class="btn btn-space btn-default kaydet" style="height: 40px; font-size: 14px;" id="btnCancel" onclick="window.location.href ='@Url.Action("ListProduct","Product")'" value="Cancel" />
                                <input type="hidden" id="@Model.Id" />
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <form action="#" class="form-horizontal group-border-dashed" novalidate="">
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">TC No :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control parsley-error" data-parsley-id="29" id="identityNumber" name="Code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">İsim :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control parsley-error" data-parsley-id="29" id="firstName" name="FirstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Soyisim :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control parsley-error" data-parsley-id="29" id="lastName" name="LastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi" for="sel1">Cinsiyet :</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="gender">
                                    <option value="secim">- Seçiminiz -</option>
                                    <option value="Erken">Erkek</option>
                                    <option value="Kadın">Kadın</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Doğum Tarih :</label>
                            <div class="col-sm-6">
                                <input type="date" data-parsley-max="6" class="form-control parsley-error" data-parsley-id="39" name="BirthDay" id="birthday">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Telefon :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control parsley-error" data-parsley-id="29" id="phoneNumber" name="PhoneNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Öğrenci No :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control parsley-error" data-parsley-id="29" id="studentNumber" name="StudentNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi" for="sel1">Bölümü :</label>
                            <div class="col-sm-6">
                                @*
                @Html.DropDownListFor(m => m.CategoryId, (SelectList)ViewBag.Category, "- Select Category -", new { @class = "form-control" })

                                *@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Email :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control parsley-error" data-parsley-id="29" id="email" name="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Şifre :</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control parsley-error" data-parsley-id="29" id="password" name="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label yazi">Şifre Doğrula :</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control parsley-error" data-parsley-id="29" id="confirmPassword" name="ConfirmPassword">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-2 col-sm-10 ">
                                <input class="btn btn-space btn-success kaydet" style="font-size: 16px; height:40px" id="btnSave" value="Kaydet" />
                                <input class="btn btn-space btn-default kaydet" style="height: 40px; font-size: 14px;" id="btnCancel" onclick="window.location.href ='@Url.Action("ListStudent","Student", new { Area = "Admin"})'" value="İptal" />
                            </div>
                        </div>

                    </form>
                }
            </div>
        </div>
    </div>
</div>

<script>


          var token = sessionStorage.getItem("accessToken");
    var headers = {};
    headers.Authorization = "Bearer " + token;

    $(document).ready(function() {
      if (token == null) {
            window.location.href = "/Admin/UserManagement/Login";
      }
    });


        $("#btnSave").click(function() {
      $.ajax({
        url: "/api/Account/Register",
        method: "POST",
        headers: headers,
        data: {
          IdentityNumber: $("#identityNumber").val(),
          StudentNumber: $("#studentNumber").val(),
          DepartmentId: $("#productPurchase").val(),
          FirstName: $("#firstName").val(),
          LastName: $("#lastName").val(),
          Gender: $("#gender option:selected").text(),
          PhoneNumber: $("#phoneNumber").val(),
          Email: $("#email").val(),
          BirthDay: $("#birthday").val(),
          Password: $("#password").val(),
          ConfirmPassword: $("#confirmPassword").val()
        },

        success: function() {
          window.location.href = "/Admin/Student/AddStudent";
        },
        error: function(jqXHR) {
          alert("Error !");
        }
      });
    });

    var Update = function(productId) {
      $.ajax({
        url: "/api/Products",
        method: "PUT",
        headers: headers,
        data: {
          Id: productId,
          Name: $("#productName").val(),
          Code: $("#productCode").val(),
          SellingPrice: $("#productSelling").val(),
          PurchasingPrice: $("#productPurchase").val(),
          Quantity: $("#quantity").val(),
          CategoryId: $("#CategoryId").val(),
          SupplierId: $("#SupplierId").val()
        },
        success: function() {
          window.location.href = "/Product/ListProduct";
        },
        error: function(jqXHR) {
          alert("Error !");
        }
      });
    };

</script>

